<footer>

    <section class="cont-footer">
        <div class="wrap-footer">
            <h4 class="titulo-footer">Categorias</h4>
            <div class="list-categoria">
                <ul>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                </ul>
            </div>
        </div>


    <div class="wrap-footer-redes">
        <h4 class="titulo-seguinos">Seguinos en nuestras redes</h4>
            <div class="list-redes">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
    
    </div>
</section>   

</footer>