<section class="cont-barra">
    <div class="wrap-barra-logo">
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <a href="/">
                <img src="/img/logo.svg" alt="">
            </a>
        </div>


    </div>

    <div class="wrap-barra-busc">
        <div class="buscador">

            <input type="text" class="barra-buscador" placeholder="  Buscar...">
            <button type="button" class="btn-buscar">
                        <i class="fas fa-search"></i>
                    </button>
            </form>
        </div>
    </div>

    <div class="wrap-barra-opc">
        <div class="lupa">
            <i class="fas fa-search"></i>
        </div>
        <% if(locals.user){ %> 
            <div class="usuario">
                <a href="/users/logout"><i class="fas fa-times"></i></a>
            </div>
        <% } %> 
        <% if(locals.user) { %> 
            <div class="usuario">
                <p class="nombre-usuario"><%= user.name %> </p>
            </div>
        <% } %> 
        <div class="usuario">
            <a href="/users/login"><i class="fas fa-user"></i></a>
        </div>
        <div class="carrito">
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>

</section>