<section >
    <nav class="cont-menu" >
        <li class="wrap-menu"><a href="">Productos</a>
            <ul class="sub">
                <li><a href="">Placas de video</a></li>
                <li><a href="">Motherboards</a></li>
                <li><a href="">Microprocesadores</a></li>
                <li><a href="">Gabinetes</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Almacenamiento</a></li>
                <li><a href="">Memorias</a></li>
            </ul>
        </li>
        <li class="wrap-menu"><a href="/armaTuPc">Arma tu PC</a></li>
        <li class="wrap-menu"><a href="">Cotiza tu PC</a></li>

    </nav>
</section>
<section class="borde">
    <div class="glow-on-hover">
    </div>

</section>


