<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

</head>
<body>

    <header>
        <section class="cont-barra">  
                <div class="wrap-barra-logo">
                    <div class="menu"> 
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <a href="/" >
                            <img src="./img/logo.svg" alt="">
                        </a>  
                    </div>
                </div> 
                <div class="wrap-barra-busc">
                    <div class="buscador">
                        <input type="text" class="barra-buscador" placeholder="  Buscar...">
                        <button type="button" class="btn-buscar">
                             <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                 <div class="wrap-barra-opc">
                        <div class="lupa">
                            <i class="fas fa-search"></i> 
                        </div>
                        <div class="usuario"> 
                            <a href="/login"><i class="fas fa-user"></i></a>
                        </div>
                        <div class="carrito">
                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                        </div> 
                  
        </section>

        <section >
            <nav class="cont-menu" >
                <li class="wrap-menu"><a href="">Productos</a>
                    <ul class="sub">
                        <li><a href="">Placas de video</a></li>
                        <li><a href="">Motherboards</a></li>
                        <li><a href="">Microprocesadores</a></li>
                        <li><a href="">Gabinetes</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Almacenamiento</a></li>
                        <li><a href="">Memorias</a></li>
                    </ul>
                </li>
                <li class="wrap-menu"><a href="/armaTuPc">Arma tu PC</a></li>
                <li class="wrap-menu"><a href="">Cotiza tu PC</a></li>

            </nav>
        </section>
        <section class="borde">


        </section>


    </header>

    <main class="main-arma">

        <h2 class="titulo-arma">Arma tu PC en simples pasos</h2>
    
        <section class="cont-wrap-pc">
        <div class="wrap-arma-izq">
                <div class="prod-det" id="p1">
                    <div class="prod-img">
                        <img src="./img/gabinete.jpg" alt="gabinete">
                    </div>
                    <div class="prod-desc">
                        <h3>Gabinete NZXT H510 Elite Blanco</h3>
                    </div>
                    <div class="prod-cant">
                        <p>1</p>
                    </div>
                    <div class="prod-precio">
                        <h3>$9.000</h3>
                    </div>  
                    <div class="prod-editar">
                        <button type="button">Editar</button>
                    </div>    
            </div>
            <div class="prod-det" id="p2">
                <div class="prod-img">
                    <img src="./img/pvrtx3090.jpg" alt="video">
                </div>
                <div class="prod-desc">
                    <h3>Placa De Video Asus Nvidia Geforce Rtx 3090 024g Gaming Rog Strix</h3>
                </div>
                <div class="prod-cant">
                    <p>1</p>
                </div>
                <div class="prod-precio">
                    <h3>$230.000</h3>
                </div>
                <div class="prod-editar">
                    <button type="button">Editar</button>
                </div>

            </div>   
            <div class="prod-det" id="p3">
                <div class="prod-img">
                    <img src="./img/memoria-ram.jpg" alt="memoria">
                </div>
                <div class="prod-desc">
                    <h3>Memoria Ram 8gb 3200mhz Xpg Spectrix D80 Ddr4 Gamer Liquid</h3>
                </div>
                <div class="prod-cant">
                    <p>1</p>
                </div>
                <div class="prod-precio">
                    <h3>$9860</h3>
                </div>
                <div class="prod-editar">
                    <button type="button">Editar</button>
                </div>

            </div>
            <div class="prod-det" id="p4">
                <div class="prod-img">
                    <img src="./img/fuente.jpg" alt="fuente">
                </div>
                <div class="prod-desc">
                    <h3>Fuente 850w 80 Plus Platinum Asus Rog Thor Modular</h3>
                </div>
                <div class="prod-cant">
                    <p>1</p>
                </div>
                <div class="prod-precio">
                    <h3>$94.999</h3>
                </div>
                <div class="prod-editar">
                    <button type="button">Editar</button>
                </div>

            </div>
        </div>

     
        <div class="wrap-pc">
        
            
            <div class="cont-pc">

                <div class="pc-img">
                    <img src="img/computer-case.png" alt="case">
                </div>
                <div class="mother-img">
                    <img src="img/mother.png" alt="mother">
                </div>
                <div class="cpu-img">
                    <img src="img/cpu.png" alt="cpu">
                </div>
                <div class="placa-video-img">
                    <img src="./img/graphic-card.png" alt="placa-video">
                </div>
                <div class="fuente-img">
                    <img src="./img/fuente-de-alimentacion.png" alt="fuente">
                </div>
                <div class="memoria-img">
                    <img src="./img/memoria-ram.png" alt="memoria-ram">
                </div>
                <div class="disco-img">
                    <img src="./img/disco-duro.png" alt="disco">
                </div>
                <div class="cooler-img">
                    <img src="./img/air-cooler.png" alt="cooler">
                </div>
                
            </div>

        </div>
        
        <div class="wrap-arma-der">

            <div class="prod-det" id="p5">
                    <div class="prod-img">
                        <img src="./img/mother.jpg" alt="motherboard">
                    </div>
                    <div class="prod-desc">
                        <h3>ASUS ROG Strix Z490-E Gaming Z490- WiFi 6, LGA 1200 (Intel 10ª generación)</h3>
                    </div>
                    <div class="prod-cant">
                        <p>1</p>
                    </div>
                    <div class="prod-precio">
                        <h3>$71.500</h3>
                    </div>
                    <div class="prod-editar">
                        <button type="button">Editar</button>
                    </div>

            </div> 
            <div class="prod-det" id="p6">
                <div class="prod-img">
                    <img src="./img/procesador.jpg" alt="procesador">
                </div>
                <div class="prod-desc">
                    <h3>Procesador Intel Core I9 10900k 10ma</h3>
                </div>
                <div class="prod-cant">
                    <p>1</p>
                </div>
                <div class="prod-precio">
                    <h3>$66.956</h3>
                </div>
                <div class="prod-editar">
                    <button type="button">Editar</button>
                </div>

            </div> 
            <div class="prod-det" id="p7">
                <div class="prod-img">
                    <img src="./img/disco.jpg" alt="almacenamiento">
                </div>
                <div class="prod-desc">
                    <h3>Disco sólido interno Western Digital WDS100T2B0A 1TB azul</h3>
                </div>
                <div class="prod-cant">
                    <p>1</p>
                </div>
                <div class="prod-precio">
                    <h3>$23.950</h3>
                </div>
                <div class="prod-editar">
                    <button type="button">Editar</button>
                </div>

            </div> 
            <div class="prod-det" id="p8">
                <div class="prod-img">
                    <img src="./img/cooler.jpg" alt="cooler">
                </div>
                <div class="prod-desc">
                    <h3>Cooler Masterair-ma620m</h3>
                </div>
                <div class="prod-cant">
                    <p>1</p>
                </div>
                <div class="prod-precio">
                    <h3>$16.500</h3>
                </div>
                <div class="prod-editar">
                    <button type="button">Editar</button>
                </div>

            </div> 
            <div class="boton-cont">

                <button type="submit" class=>Continuar</button>   

            </div>    
                    
        </div>

    </section>

    
    </main>

    <footer>

        <section class="cont-footer">
            <div class="wrap-footer">
            <h4 class="titulo-footer">Categorias</h4>
            <div class="list-categoria">
                <ul>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                </ul>
            </div>
        </div>

        <div class="wrap-footer">
            <h4 class="titulo-footer">Marcas</h4>
            <div class="list-categoria">
                <ul>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                </ul>
            </div>
        </div>

        <div class="wrap-footer-redes">
            <h4 class="titulo-seguinos">Seguinos en nuestras redes</h4>
                <div class="list-redes">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
        
        </div>
    </section> 
    
</div> 

    </footer>
    
</body>
</html>