<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

</head>
<body>
    <header>
        <section class="cont-barra">  
                <div class="wrap-barra">
                    <div class="menu"> 
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <h1><i class="fas fa-frog"></i></h1>   
                    </div>
                </div> 
                <div class="wrap-barra">
                    <div class="buscar">
                        <input type="text">
                    </div>
                </div>
                 <div class="wrap-barra">
                        <div class="lupa">
                            <i class="fas fa-search"></i> 
                        </div>
                        <div class="usuario"> 
                            <i class="far fa-user"></i>
                        </div>
                        <div class="carrito">
                            <i class="fas fa-shopping-basket"></i>
                        </div>
                </div> 
                  
        </section>
        <section class="borde">


        </section>


    </header>
    
    <div class="banner">
        <img src="/img/banner.jpg" alt="banner">
    </div>

    <main>


        <h2 class="titulo">Productos mas buscados</h2>

        <section class="cont-art">

            <article>
                <img src="/img/rtx3070.jpg" alt="rtx-3070" >
                <div class="wrap-art">
                    <h4 class="cuotas">18 cuotas sin interes</h4>
                    <h4 class="descrip">Placa de video RTX 3070 MSI </h4>
                    <h3 class="precio">$204.999</h3>
                    <div class="boton">
                        <button type="button" >Ver producto</button>
                    </div>
                </div>

            </article>

        </section>

    </main>
    

    <footer>

        <section>
            <p class="seguinos">Seguinos en nuestras redes</p>
            <div class="redes">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </section>

        

    </footer>
</body>

</html>