<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC Login</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">

        <form method="POST" action="/users/login" class="cont-form">
            <div class="titulo-form">
                <h2>Iniciar Sesion con mi mail</h2>
            </div>
            <div class="wrap-form">
                <label for="email">
                    <input type="email" name="email" placeholder="Ingresa tu e-mail">
                </label>
                <% if(locals.errors && errors.email){ %> 
                    <span class="text-danger"><%=errors.email.msg%> </span>
                <% } %> 
            </div>
            <div class="wrap-form">
                <label for="contraseña">
                    <input type="password" name="password" placeholder="Ingresa tu clave">
                </label>
            </div>

            <div class="wrap-res">
                <div class="registrarme">
                    <a href="/users/register">Registrarme</a>
                </div>
                <div class="restaurar">
                    <a href="/users/recupero">Olvide mi clave</a>
                </div>
            </div>

            <div class="wrap-boton-log">
                <button type="submit">Loguearse</button>
            </div>
            <div class="titulo-gmail">
                <h3>Iniciar seesion con gmail</h3>
            </div>
            <div class="wrap-boton-gmail">
                <button>Continue with Gmail</button>
            </div>
            <div class="history">
                <button type="button" class="volver">
                <a href="/users/history">Historial de compra</a>
                </button>
            </div>
        </form>

    </main>

    <%- include("parcials/footer") %>

</body>

</html>