<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>

    <header>
        
        <%- include("./parcials/header") %> 


        <%- include("./parcials/nav") %>   
    
    </header>
    

    <main>

        <section class="cont-compra">

        <div class="list-art">

            <article class="wrap-compra">
                <div class="imagen-prod">
                    <img src="/img/rtx3070.jpg" alt="rtx-3070" >
                </div>
                <div class="descrip">
                    <h3>Placa de video RTX 3070 MSI </h3>
                </div>
                <div class="cantidad">
                    <input type="text">
                </div>
                <div class="precio">
                    <h3>$204.999</h3>
                </div>
                <div class="wrap-boton-res" style="padding-top: 3%; padding-bottom: 4%;">
                    <button type="button" class="borrar" >
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <article class="wrap-compra">
                <div class="imagen-prod">
                    <img src="/img/rx5600xt.jpg" alt="rtx-3070" >
                </div>
                <div class="descrip">
                    <h3>Placa de video RTX 3070 MSI </h3>
                </div>
                <div class="cantidad">
                    <input type="text">
                </div>
                <div class="precio">
                    <h3>$204.999</h3>
                </div>
                <div class="wrap-boton-res" style="padding-top: 3%; padding-bottom: 4%;">
                    <button type="button" class="borrar" >
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            
        </div>       
        
        </section>

        <section class="cont-compra">
            <article class="wrap-resumen">
                <h3 class="titulo-res">Resumen de Pedido</h3>
                <div class="cont-total">
                    <div class="wrap-total">
                        <h3>Total:</h3>
                    </div>
                    <div class="wrap-total">
                        <h4 class="precio-res">$204.999</h3>
                    </div>
                </div >
                    <div class="cont-total-cupon">
                        <div class="wrap-total-cupon">
                            <label for="cupon">Cupon de descuento</label>
                        </div>
                   
                        <div class="wrap-total-cupon-code" style="display: flex; justify-content: flex-end !important; padding-right: 8px;">   
                            <input class="wrap-total-cupon-code" type="text">
                        </div>
                        <div class="wrap-boton-res">
                            <button type="button" class="probar" style="display: flex; justify-content: flex-end !important; padding-right: 12px;">
                                Probar
                            </button>
                        </div>
                    </div>
               
                   
                <div class="cont-boton-res" style="display: flex; justify-content: flex-end !important; padding-bottom: 5px;">
                    <div class="wrap-boton-res" >
                        <button type="button" class="borrar" >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <div class="wrap-boton-res">
                        <button type="button" class="continuar">
                            Continuar
                        </button>
                    </div>
                </div>
            </article>


        </section>
    </main>

    <footer>

        <section class="cont-footer">
            <div class="wrap-footer">
            <h4 class="titulo-footer">Categorias</h4>
            <div class="list-categoria">
                <ul>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                </ul>
            </div>
        </div>

        <div class="wrap-footer">
            <h4 class="titulo-footer">Marcas</h4>
            <div class="list-categoria">
                <ul>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                </ul>
            </div>
        </div>

        <div class="wrap-footer-redes">
            <h4 class="titulo-seguinos">Seguinos en nuestras redes</h4>
                <div class="list-redes">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
        
        </div>
    </section>   

 </footer>
</body>
</html>