<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>

    <header>
        <section class="cont-barra">  
                <div class="wrap-barra">
                    <div class="menu"> 
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <h1><i class="fas fa-frog"></i></h1>   
                    </div>
                </div> 
                <div class="wrap-barra">
                    <div class="buscar">
                        <input type="text">
                    </div>
                </div>
                 <div class="wrap-barra">
                        <div class="lupa">
                            <i class="fas fa-search"></i> 
                        </div>
                        <div class="usuario"> 
                            <i class="far fa-user"></i>
                        </div>
                        <div class="carrito">
                            <i class="fas fa-shopping-basket"></i>
                        </div>
                </div> 
                  
        </section>
        <section class="borde">


        </section>


    </header>
    

    <main>

        <section class="cont-compra">

            <article class="wrap-compra">

               
                <img src="/img/rtx3070.jpg" alt="rtx-3070" >
                <h3 class="descrip">Placa de video RTX 3070 MSI </h3>
                <div class="cantidad">
                    <input type="text">
                </div>
                <h3 class="precio">$204.999</h3>
                

            </article>

        
        </section>

        <section class="cont-compra">
            <article class="wrap-resumen">
                <h3 class="titulo-res">Resumen de Pedido</h3>
                <div class="cont-total">
                    <div class="wrap-total">
                        <h3>Total:</h3>
                    </div>
                    <div class="wrap-total">
                        <h4 class="precio-res">$204.999</h3>
                    </div>
                </div >
                    <div class="cont-total-cupon">
                        <div class="wrap-total-cupon">
                            <label for="cupon">Cupon de descuento</label>
                        </div>
                   
                        <div class="wrap-total-cupon">   
                            <input type="text">
                        </div>
                    </div>
                    
               
               

                <div class="cont-boton-res">
                    <div class="wrap-boton-res">
                        <button type="button" class="borrar">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <div class="wrap-boton-res">
                        <button type="button" class="continuar">
                            Continuar
                        </button>
                    </div>
                </div>
            </article>


        </section>
    </main>

    <footer>

        <section>
            <p class="seguinos">Seguinos en nuestras redes</p>
            <div class="redes">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </section>

        

    </footer>
</body>
</html>