<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">

        <form action="" class="cont-form">
            <div class="titulo-form">
                <h2>Complet치 los siguientes campos para registrarte en nuestro sitio</h2>
            </div>
            <div class="wrap-form">
                <label for="email">
                    <input type="email" name="email" placeholder="Ingresa tu e-mail">
                </label>
                <span>Falta completar</span>
            </div>
            <div class="wrap-form">
                <label for="contrase침a">
                    <input type="password" name="password" placeholder="Ingresa tu clave">
                </label>
                <span>Falta completar</span>
            </div>
            <div class="wrap-form">
                <label for="recontrase침a">
                    <input type="repassword" name="repassword" placeholder="Confirma tu clave">
                </label>
                <span>Falta completar</span>
            </div>
            <div class="wrap-form">
                <label for="nombre">
                    <input type="text" name="name" placeholder="Ingresa tu nombre">
                </label>
                <span>Falta completar</span>
            </div>
            <div class="wrap-form">
                <label for="apellido">
                    <input type="text" name="lastName" placeholder="Ingresa tu apellido">
                </label>
                <span>Falta completar</span>
            </div>
            <div class="wrap-form">
                <label for="telefono">
                    <input type="text" name="phone" placeholder="Ingresa tu telefono">
                </label>
                <span>Falta completar</span>
            </div>
            <div class="wrap-form">
                <label for="direccion">
                    <input type="text" name="adress" placeholder="Ingresa tu direccion">
                </label>
                <span>Falta completar</span>
            </div>
            <div class="titulo-form"></div>
            <h3>Ingres치 tu avatar</h3>
            </div>
            <div class="wrap-form">
                <label for="avatar" class="avatar">
                     <input type="file" name="avatar" accept=".jpg, .bmp, .webp">
                </label>
                <span>Falta completar</span>
            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <button type="submit">Registrarse</button>
            </div>


        </form>

    </main>

    <%- include("parcials/footer") %>

</body>

</html>