<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>

    <header>
        <section class="cont-barra">  
                <div class="wrap-barra-logo">
                    <div class="menu"> 
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <a href="/"><h1>QMC</h1></a>  
                    </div>
                </div> 
                <div class="wrap-barra-busc">
                    <div class="buscador">
                        <input type="text">
                    </div>
                </div>
                 <div class="wrap-barra-opc">
                        <div class="lupa">
                            <i class="fas fa-search"></i> 
                        </div>
                        <div class="usuario"> 
                            <a href="/login"><i class="fas fa-user"></i></a>
                        </div>
                        <div class="carrito">
                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                        </div> 
                  
        </section>

        <section >
            <nav class="cont-menu" >
                <li class="wrap-menu"><a href="">Productos</a>
                    <ul class="sub">
                        <li><a href="">Placas de video</a></li>
                        <li><a href="">Motherboards</a></li>
                        <li><a href="">Microprocesadores</a></li>
                        <li><a href="">Gabinetes</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Almacenamiento</a></li>
                        <li><a href="">Memorias</a></li>
                    </ul>
                </li>
                <li class="wrap-menu"><a href="/armaTuPc">Arma tu PC</a></li>
                <li class="wrap-menu"><a href="">Cotiza tu PC</a></li>

            </nav>
        </section>
        <section class="borde">


        </section>


    </header>

    <main class="main-form">

        <form action="" class="cont-form">
            <div class="titulo-form">
                <h2>Completá los siguientes campos para registrarte en nuestro sitio</h2>
            </div>
            <div class="wrap-form">
                <label for="email">
                    <input type="email" name="email" placeholder="Ingresa tu e-mail">
                </label>
            </div>
            <div class="wrap-form">
                <label for="contraseña">
                    <input type="password" name="password" placeholder="Ingresa tu clave">
                </label>
            </div>
            <div class="wrap-form">
                <label for="recontraseña">
                    <input type="repassword" name="repassword" placeholder="Confirma tu clave">
                </label>
            </div>
            <div class="wrap-form">
                <label for="nombre">
                    <input type="text" name="nombre" placeholder="Ingresa tu nombre">
                </label>
            </div>
            <div class="wrap-form">
                <label for="apellido">
                    <input type="text" name="apellido" placeholder="Ingresa tu apellido">
                </label>
            </div>
            <div class="wrap-form">
                <label for="telefono">
                    <input type="text" name="telefono" placeholder="Ingresa tu telefono">
                </label>
            </div>
            <div class="wrap-form">
                <label for="direccion">
                    <input type="text" name="direccion" placeholder="Ingresa tu direccion">
                </label>
            </div>
            <div class="wrap-form">
                <button type="submit">Registrarse</button>
            </div>


        </form>

    </main>

    <footer>

        <section class="cont-footer">
            <div class="wrap-footer">
            <h4 class="titulo-footer">Categorias</h4>
            <div class="list-categoria">
                <ul>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                </ul>
            </div>
        </div>

        <div class="wrap-footer">
            <h4 class="titulo-footer">Marcas</h4>
            <div class="list-categoria">
                <ul>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                </ul>
            </div>
        </div>

        <div class="wrap-footer-redes">
            <h4 class="titulo-seguinos">Seguinos en nuestras redes</h4>
                <div class="list-redes">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
        
        </div>
    </section>   

    </footer>
</body>
</html>