@media (min-width: 1200px){


    nav li:hover>ul{
    
        display:block;
        position:absolute;
        top:5px;
        right: -70px;
        padding: 20px;
        
    }
   

    .main-form{

        padding-left: 30vw;
        padding-right: 30vw;
    }



}