* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: black;
    opacity: 90%;
}

.cont-art {
    display: flex;
    flex-wrap: wrap;
}

.cont-art article {
    margin: 10px;
}

.cont-menu {
    display: none;
}



.cont-barra {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrap-barra-logo {
    display: flex;
    width: 20%;
    text-align: center;
    height: 30px;
}

.wrap-barra-busc {
    display: flex;
    width: 60%;
    text-align: center;
}

.wrap-barra-opc {
    display: flex;
    width: 20%;
    justify-content: end;
    align-self: center;
}

.buscador {
    display: none;
}

.logo {
    text-align: left;
    color: #EF30F3;
    padding-left: 20px;
    display: flex;
    align-self: center;
}

.logo-qmc  {
    font-family: 'Bungee Shade', cursive;
    color: #EF30F3;
    font-size: 24px;
}

.menu {
    width: 30%;
    color: white;
    font-size: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-left: 10px;
}

.lupa {
    color: white;
    width: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.usuario {
    color: white;
    width: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.carrito {
    color: white;
    width: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 30px;
}

.borde {
    background-color: purple;
    width: 100%;
    height: 5px;
    opacity: 100%;
}

main {
    padding-left: 5vw;
    padding-right: 5vw;
}

.banner img {
    width: 100%;
}

.titulo {
    text-align: center;
    padding: 5px;
    font-size: 28px;
}

main img {
    width: 100%;
}

main article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: 1px solid white;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cont-art {
    background-color: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

article {
    width: 100%;
    font-size: 10px;
}

.cont-art .wrap-art {
    border-top: solid silver 1px;
}

.cuotas {
    padding: 5px;
    text-align: center;
}

.precio {
    padding: 5px;
    text-align: center;
    font-size: 24px;
}

.descrip {
    padding: 5px;
    text-align: center;
}

.wrap-art .boton {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.boton button {
    border: 1px #cc23cf solid;
    padding: 5px;
    background-color: #cc23cf;
    border-radius: 10px;
    width: 80%;
    transition: all 450ms
}

.boton button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.boton button:hover {
    background-color: blue;
}

.wrap-footer {
    display: none;
}

.cont-footer .wrap-footer-redes {
    width: 33%;
    color: white;
}

.wrap-footer-redes .titulo-seguinos {
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer {
    background-color: black;
    padding-left: 5vw;
    padding-right: 5vw;
}

.cont-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-self: center;
}

.wrap-footer-redes {
    width: 100%;
}

.wrap-footer-redes .list-redes {
    text-align: center;
    margin-bottom: 20px;
}

.redes {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 24px;
}

.redes i {
    padding: 5px;
}


/*Inicio CSS productDetail*/

.categoria {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.wrap-enlace {
    padding: 5px;
    font-size: 12px;
}

.cont-prod {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cont-prod article {
    padding-left: 5vw;
    padding-right: 5vw;
}

.cont-prod img {
    border-top: solid 1px silver;
}

.wrap-prod {
    width: 100%;
}

.wrap-prod .boton {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
}

.wrap-prod .cuotas {
    border-top: solid 1px silver;
}

.wrap-prod .boton .comprar {
    font-size: 18px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.wrap-prod .boton .agregar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.agregar button {
    height: 40px;
    background-color: blueviolet;
    border: blueviolet;
    font-size: 16px;
}

.comprar button {
    height: 40px;
    font-size: 16px;
}

.envio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.envio i {
    padding-left: 10px;
    padding-right: 10px;
    color: slategray;
}

.envio h4 {
    font-size: 14px;
    color: slategray;
}

.stock {
    display: flex;
    padding: 10px;
    justify-content: center;
    padding-right: 10px;
}

.stock input {
    width: 12%;
    background-color: silver;
    border: 1px silver solid;
    border-radius: 4px;
    opacity: 70%;
}

.stock .boton-desc {
    font-size: 18px;
    height: 24px;
    width: 24px;
    background-color: gray;
    border: 1px gray solid;
    border-radius: 4px;
}

.stock .boton-sum {
    font-size: 18px;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    background-color: gray;
    border: 1px gray solid;
    border-radius: 4px;
}

.garantia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.garantia i {
    padding-left: 10px;
    padding-right: 10px;
    color: purple;
}

.garantia h4 {
    font-size: 14px;
    color: slategray;
}

.cont-desc-pro {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 20px;
}

.wrap-desc-pro {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-desc-pro h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid silver;
}

.wrap-desc-pro-det {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 16px;
    padding-bottom: 16px;
}


/*Fin CSS productDetail*/


/*Inicio CSS productCart*/

.cont-compra {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-compra {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    justify-content: space-arround;
}

.wrap-compra .cantidad {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrap-compra input {
    width: 20px;
    height: 20px;
    border: 1px solid silver;
    background-color: silver;
    border-radius: 4px;
}

.wrap-compra .precio {
    font-size: 18px;
}

.wrap-resumen {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.wrap-resumen .titulo-res {
    border-bottom: 1px solid silver;
    padding-top: 8px;
    padding-bottom: 8px;
}

.wrap-resumen .cont-total {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid silver;
}

.wrap-total {
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.wrap-total h4 {
    font-size: 24px;
    height: 100%;
}

.cont-total .wrap-total .precio-res {
    text-align: end;
    font-size: 22px;
    height: 100%;
}

.cont-boton-res {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrap-boton-res {
    display: flex;
    min-width: 5%;
    justify-content: space-evenly;
}

.wrap-boton-res .continuar {
    padding: 10px;
    background-color: #5086c1;
    border: 1px solid #5086c1;
    border-radius: 5px;
    color: white;
}

.wrap-boton-res .probar {
    padding: 10px;
    height: 40px;
    margin: 4px;
    margin-left: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #5086c1;
    border: 1px solid #5086c1;
    border-radius: 5px;
    color: white;
}

.wrap-boton-res .borrar {
    padding: 10px;
    padding-top: 3px;
    background-color: #ff6961;
    color: white;
    border: 1px solid #ff6961;
    border-radius: 5px;
}

.wrap-resumen label {
    display: flex;
    justify-content: left;
}

.cont-total-cupon {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.wrap-total-cupon {
    width: 72%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.wrap-total-cupon-code {
    width: 19%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
}

.wrap-total-cupon-code input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: right;
}

.wrap-total-cupon-code:focus,
input :focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    color: black;
    border-image: linear-gradient(to right, violet, purple);
    border-image-slice: 1;
}

.discount-container {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: auto;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    padding-bottom: 1%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.discount-badge {
    align-items: center;
    background: #cc23cf;
    border: 2px solid #fff;
    border-radius: 2em;
    color: #fff;
    display: flex;
    font-size: 2em;
    font-weight: 400;
    height: 2em;
    justify-content: center;
    line-height: 1;
    min-width: 2em;
    position: absolute;
    right: -2px;
    top: -2px;
}

.gradient-divider {
    box-sizing: content-box;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, violet, purple);
    border-image-slice: 1;
}

.wrap-total-cupon label {
    padding-top: 2px;
}


/*Fin CSS productCart*/


/*Inicio CSS register*/

.main-form form {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: #f6f6f6;
    border: 1px solid white;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-form {
    padding-left: 5vw;
    padding-right: 5vw;
}

.cont-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cont-form .titulo-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cont-form .titulo-form h2 {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.wrap-form {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.wrap-res {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wrap-res .registrarme {
    text-align: left;
    width: 50%;
}

.history {
    justify-content: space-evenly;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
}

.wrap-res .registrarme a {
    text-decoration: none;
    font-size: 12px;
}

.wrap-res .restaurar {
    text-align: right;
    width: 50%;
}

.wrap-res .restaurar a {
    text-decoration: none;
    font-size: 12px;
}

.wrap-form input {
    width: 100%;
    border: 1px solid silver;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    border-radius: 4px;
}

.wrap-form button {
    background-color: slateblue;
    color: white;
    font-size: 18px;
    border: 1px solid slateblue;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

.wrap-boton-log {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.wrap-boton-log button {
    background-color: slateblue;
    color: white;
    font-size: 18px;
    border: 1px solid slateblue;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.titulo-gmail {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.wrap-boton-gmail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.wrap-boton-gmail button {
    background-color: red;
    color: white;
    font-size: 18px;
    border: 1px solid red;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}


/*Fin CSS register*/


/*Inicio CSS */

.titulo-arma {
    text-align: center;
    margin: 10px;
}

.wrap-pc {
    display: none;
}

.wrap-arma-izq {
    width: 100%;
}

.wrap-arma-izq .prod-det {
    border-bottom: 1px solid silver;
    padding: 10px;
}

.wrap-arma-izq .prod-det .prod-desc h3 {
    text-align: center;
}

.wrap-arma-izq .prod-det .prod-cant p {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.wrap-arma-izq .prod-det .prod-precio {
    text-align: center;
    font-size: 20px;
}

.wrap-arma-izq .prod-det .prod-editar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-arma-izq .prod-det .prod-editar button {
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.wrap-arma-der {
    width: 100%;
}

.wrap-arma-der .prod-det {
    border-bottom: 1px solid silver;
    padding: 10px;
}

.wrap-arma-der .prod-det .prod-desc h3 {
    text-align: center;
}

.wrap-arma-der .prod-det .prod-cant {
    padding: 5px;
}

.wrap-arma-der .prod-det .prod-cant p {
    text-align: center;
    font-size: 20px;
}

.wrap-arma-der .prod-det .prod-precio {
    text-align: center;
    font-size: 20px;
}

.wrap-arma-der .prod-det .prod-editar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-arma-der .prod-det .prod-editar button {
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.boton-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton-cont button {
    background-color: slateblue;
    border: 1px solid slateblue;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    color: white;
}


/*Fin CSS armaTuPc*/


/*Inicio CSS recupero*/

.cont-recu {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw;
    justify-content: center;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 0px 10px 10px silver;
    padding-bottom: 50px;
    margin-bottom: 350px;
}

.wrap-recu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px
}

.titulo-recu {
    width: 100%;
    text-align: center;
    background-color: slateblue;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrap-recu h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrap-recu input {
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}

.wrap-recu button {
    width: 80%;
    background-color: slateblue;
    border: 1px solid slateblue;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


/*Fin CSS recupero*/


/*Inicio History */

.title {
    margin: 10px;
    margin: 10px;
}

.fecha {
    margin: 8px;
    margin: 8px;
}


/*Fin CSS History*/