@media (min-width: 1200px) {
    nav li:hover>ul {
        display: block;
        position: absolute;
        top: 5px;
        right: -70px;
        padding: 20px;
    }
    .cont-art article {
        width: 20%;
    }

    .cont-menu{

        padding-left: 25%;
        padding-right: 25%;
        padding-bottom:7px;
        justify-content:space-around;
    }
    .wrap-art h4,
    h3 {
        font-size: 14px;
    }
    .main-form {
        padding-left: 30vw;
        padding-right: 30vw;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    /* Inicio CSS armaTuPc.html*/
    .main-arma {
        padding: 0;
    }
    .wrap-pc {
        display: flex;
    }
    .titulo-arma {
        text-align: center;
        padding-top: 5px;
    }
    .cont-pc {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 700px;
        justify-content: center;
        padding-top: 40px;
    }
    .pc-img {
        width: 400px;
        height: 400px;
        position: absolute;
        z-index: 1;
        padding: 0;
        margin: 0;
        transition: 450ms;
        opacity: 70%;
    }
    .pc-img:hover {
        width: 450px;
        height: 420px;
        border: #EF30F3 5px dashed;
        border-radius: 10px;
        padding: 10px;
    }
    .pc-img:hover>.cont-pc+#p1 {
        border: orchid 1px solid;
    }
    .mother-img {
        position: relative;
        z-index: 2;
        width: 365px;
        height: 300px;
        top: -5px;
        left: 165px;
        padding: 0;
        margin: 0;
        opacity: 85%;
        transition: 200ms;
    }
    .mother-img:hover {
        z-index: 10;
        opacity: 100%;
    }
    .mother-img:hover img {
        border: #EF30F3 5px dashed;
        border-radius: 10px;
    }
    .cpu-img {
        position: relative;
        z-index: 11;
        width: 100px;
        height: 50px;
        left: 1px;
        top: 122px;
        opacity: 80%;
    }
    .cpu-img:hover {
        z-index: 14;
        opacity: 100%;
    }
    .cpu-img:hover img {
        border: #EF30F3 5px dashed;
        border-radius: 10px;
        width: 120%;
    }
    .placa-video-img {
        position: relative;
        z-index: 4;
        width: 120px;
        height: 50px;
        right: 330px;
        top: 140px;
        opacity: 80%;
    }
    .placa-video-img:hover {
        opacity: 100%;
    }
    .placa-video-img:hover img {
        border: #EF30F3 5px dashed;
        border-radius: 10px;
        opacity: 100%;
        width: 120%;
    }
    .fuente-img {
        position: relative;
        z-index: 5;
        width: 120px;
        height: 50px;
        right: 433px;
        top: 255px;
        opacity: 80%;
    }
    .fuente-img:hover {
        opacity: 100%;
    }
    .fuente-img:hover img {
        border: #EF30F3 5px dashed;
        border-radius: 10px;
        width: 120%;
        padding: 5px;
    }
    .memoria-img {
        position: relative;
        z-index: 12;
        width: 80px;
        height: 30px;
        right: 5px;
        bottom: 390px;
    }
    .memoria-img img {
        opacity: 80%;
    }
    .memoria-img:hover {
        opacity: 100%;
    }
    .memoria-img:hover img {
        border: #EF30F3 5px dashed;
        border-radius: 10px;
        padding: 5px;
        width: 150%;
    }
    .disco-img {
        position: relative;
        z-index: 7;
        width: 120px;
        height: 50px;
        left: 140px;
        bottom: 199px;
        opacity: 80%;
    }
    .disco-img:hover {
        opacity: 100%;
    }
    .disco-img:hover img {
        border: #EF30F3 5px dashed;
        border-radius: 10px;
        width: 120%;
    }
    .cooler-img {
        position: relative;
        z-index: 13;
        width: 80px;
        height: 30px;
        right: 20px;
        bottom: 325px;
        opacity: 60%;
    }
    .cooler-img:hover {
        opacity: 100%;
    }
    .cooler-img:hover img {
        border: #EF30F3 5px dashed;
        border-radius: 10px;
        width: 120%;
    }
    .cont-wrap-pc {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .wrap-arma-izq {
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 25%;
    }
    .wrap-arma-izq .prod-det {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 10px;
        margin-bottom: 60px;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid silver;
        border-radius: 10px;
        ;
    }
    .wrap-arma-izq .prod-det .prod-img {
        width: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-izq .prod-det .prod-img img {
        width: 100%;
    }
    .wrap-arma-izq .prod-det .prod-desc {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-izq .prod-det .prod-desc h3 {
        font-size: 12px;
        text-align: center;
    }
    .wrap-arma-izq .prod-det .prod-cant {
        width: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-izq .prod-det .prod-cant p {
        width: 100%;
        text-align: center;
    }
    .wrap-arma-izq .prod-det .prod-precio {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-izq .prod-det .prod-precio h3 {
        width: 100%;
        font-size: 14px;
        text-align: right;
    }
    .wrap-arma-izq .prod-det .prod-editar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-izq .prod-det .prod-editar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: left;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .wrap-arma-izq .prod-det .prod-editar button {
        background-color: red;
        border: 1px solid red;
        border-radius: 10px;
        padding: 6px;
        font-size: 12px;
        color: white;
    }
    .wrap-arma-der {
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 25%;
    }
    /*-------------------------*/
    .wrap-arma-der .prod-det {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 10px;
        margin-bottom: 60px;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid silver;
        border-radius: 10px;
        ;
    }
    .wrap-arma-der .prod-det .prod-img {
        width: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-der .prod-det .prod-img img {
        width: 100%;
    }
    .wrap-arma-der .prod-det .prod-desc {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-der .prod-det .prod-desc h3 {
        font-size: 12px;
        text-align: center;
    }
    .wrap-arma-der .prod-det .prod-cant {
        width: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-der .prod-det .prod-cant p {
        width: 100%;
        text-align: center;
    }
    .wrap-arma-der .prod-det .prod-precio {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .wrap-arma-der .prod-det .prod-precio h3 {
        width: 100%;
        font-size: 14px;
        text-align: right;
    }
    .wrap-arma-der .prod-det .prod-editar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: left;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .wrap-arma-der .prod-det .prod-editar button {
        background-color: red;
        border: 1px solid red;
        border-radius: 10px;
        padding: 6px;
        font-size: 12px;
        color: white;
    }
    .wrap-pc {
        width: 40%;
    }
    .cont-recu {
        margin-left: 30vw;
        margin-right: 30vw;
    }

    
    /*inicio CSS productTotals*/

    .cont-prod-totals{

        justify-content: space-between;
    }
    
    .cont-prod-totals .wrap-prod-totals{

        width: 22%;
        margin: 18px;
        
    }

    .caract-prod-totals p{

        height: 100px;
        
    }

    /*Fin CSS productTotals*/



    /*inicio CSS CotizaTuPc*/

    .cont-coti{

        justify-content: space-evenly;
    
    }
    
        
    .cont-coti .wrap-form-coti{
    
        width: 45%;
        
    
    }
    
    .wrap-form-precio{
    
        width: 45%;
    }
    
    .cont-coti p{
    
        width: 5%;
    }
    
    .precio-coti{
    
        justify-content: right;
        
    }
    
    .cont-coti p{
    
        justify-content: right;
    }
    
    .input-min{
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    
    .input-max{
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }


    .btn-buscar-coti .btn-primary{

        width: 20%;
        font-size: 20px;
    }

    /*Fin CSS CotizaTuPc*/

    /*login*/

    .main-form .titulo-form h2{

        font-size: 32px;
    }

    .main-form .wrap-form input{

        padding-top: 16px;
        padding-bottom: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 18px;
        padding-left: 15px;
    }


    .wrap-res .registrarme a{

        font-size: 16px;
    }

    .wrap-res .restaurar a{
        font-size: 16px;
    }

    .wrap-boton-log button{

        font-size: 24px;
    }
}