.img-prod {
    border: 1px solid silver;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    margin: 20px;
    margin-top: 10px;
    padding-left: 0px;
    display: flex;


    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
}

.zoom{
    transition: transform .5s;
}

.zoom:hover{
    transform: scale(1.04);
}
.zoomletras{
    transition: transform .5s;
}

.zoomletras:hover{
    transform: scale(1.04);
}



.lastUserCreate{
    border: 1px solid silver;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    margin: 20px;
    margin-top: 10px;
    padding-left: 0px;
    display: flex;


    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
}
.ImgTablaAllProducts {
    border: 1px solid silver;
    width: 150px;
    border-radius: 50%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    margin: 20px;
    margin-top: 10px;
    padding-left: 0px;
    display: flex;


    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
}

.imgTablaAllUsers {

    border: 1px solid silver;
    width: 150px;
    border-radius: 50%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    margin: 20px;
    margin-top: 10px;
    padding-left: 0px;
    display: flex;


    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);

}

