<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>


    <main>
        <h2 class="titulo-form">Historial de Compra </h2>
        <section class="cont-compra">
            <div class="list-art">
                <h3 class="fecha">Fecha de Compra; 21/09/2021 </h3>
                <article class="wrap-compra">
                    <div class="descrip">
                        <h3>Disco Duro Interno Western Digital WD5000LPCX 500GB </h3>
                    </div>
                    <div class="cantidad">
                        <h4>cantidad: 1</h4>
                    </div>
                </article>
                <h3 class="fecha">Fecha de Compra; 03/11/2021 </h3>
                <article class="wrap-compra">
                    <div class="descrip">
                        <h3>Placa de video Nvidia Colorfull GeForece 10 Serie GTX1050TI NE-4G-V</h3>
                    </div>
                    <div class="cantidad">
                        <h4>cantidad: 1</h4>
                    </div>
                </article>
                <article class="wrap-compra">
                    <div class="descrip">
                        <h4>Memoria RAM Fury Color Negro 8GB Hyper X H318C10BB/8</h4>
                    </div>
                    <div class="cantidad">
                        <h4>cantidad: 2</h4>
                    </div>
                </article>
            </div>
        </section>
        <div class="wrap-form">
            <a href="/">
                <button type="button" class="volver">
                            Volver a Inicio
                </button>
            </a>
        </div>
        </section>
    </main>

    <%- include("parcials/footer") %>

</body>

</html>