<footer>

    <section class="cont-footer">
        <div class="wrap-footer">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Quiero Mi Compu 2022</span>
            </div>
        </div>


        <div class="wrap-footer-redes">
            <h4 class="titulo-seguinos">Seguinos en nuestras redes</h4>
            <div class="list-redes">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>

        </div>
    </section>

</footer>