<section class="cont-barra">
    <div class="wrap-barra-logo">
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <a href="/">
                <img src="/img/logo.svg" alt="">
            </a>
        </div>


    </div>

    <div class="wrap-barra-busc">
        <div class="buscador">
            <form action="/search?prod" method="GET">
                <input name="prod" type="text" class="barra-buscador" placeholder="  Buscar...">
                <button type="submit" class="btn-buscar">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="wrap-barra-opc">
        <div class="lupa">
            <i class="fas fa-search"></i>
        </div>
        <% if(locals.user){ %> 
            <div class="usuario">
                <a href="/users/logout"><i class="fas fa-times"></i></a>
            </div>
        <% } %> 
        <% if(locals.user) { %> 
            <div class="usuario">
                <p class="nombre-usuario"><%= user.firstName %> </p>
            </div>
        <% } %> 
        <div class="usuario">
            <a href="/users/login"><i class="fas fa-user"></i></a>
        </div>

        <div class="carrito">
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>

    </section>



        <!-- ----------------------------------- -->
<!-- 
        <div class="cart-products" id="products-id">
            <p class="close-btn" onclick="closeBtn()">X</p>
            <h3>Mi carrito</h3>
            <div class="card-items">
                <div class="item"> -->
                    <!-- <img src="./img/products/rx5600xt.jpg" alt="" style="max-width:300px; max-height:300px">
                    <div class="item-content">
                        <h5>name of product name of product name of product</h5>
                        <h5 class="cart-price">45.50$</h5>
                        <h6>Amount: 3</h6>
                    </div>
                    <span>X</span> -->
                <!-- </div>
            </div>
            <h2>Total: <strong class="price-total">0</strong> $</h2>
        </div>
        
          <script>
            function showCart(x){
                document.getElementById("products-id").style.display = "block";
            }
            function closeBtn(){
                 document.getElementById("products-id").style.display = "none";
            }
    
        </script>


        <script src="/js/Carrito.js" ></script> -->
