<section>
    <nav class="cont-menu">
        <div class="nav-wrap">
            <a href="/products/productTotals">
                <li class="wrap-menu posicionRelativa">Productos</a>
            <ul class="sub zindex">
                <li><a href="/products/productTotals">Todos los productos </a></li>
                <li><a href="">Placas de video</a></li>
                <li><a href="">Motherboards</a></li>
                <li><a href="">Microprocesadores</a></li>
                <li><a href="">Gabinetes</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Almacenamiento</a></li>
                <li><a href="">Memorias</a></li>
            </ul>
            </li>
            <li class="wrap-menu"><a href="/products/armaTuPc">Arma tu PC</a></li>
            <li class="wrap-menu"><a href="/products/cotizaTuPc">Cotiza tu PC</a></li>
        </div>
    </nav>
</section>
<section class="borde">
    <div class="glow-on-hover">
    </div>

</section>