<section>
    <nav class="cont-menu">
        <div class="nav-wrap">
            <a href="/products/productTotals">
                <li class="wrap-menu posicionRelativa">Productos</a>

            </li>
            <li class="wrap-menu"><a href="/products/armaTuPc">Arma tu PC</a></li>
            <li class="wrap-menu"><a href="/products/cotizaTuPc">Buscar Productos</a></li>
        </div>
    </nav>
</section>
<section class="borde">
    <div class="glow-on-hover">
    </div>

</section>